//do I need this?
$icon-font-path: '../fonts/';



@import "bower_components/bootswatch/slate/variables";



// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


@import "bower_components/bootswatch/slate/bootswatch";



html, body {
  height: 100%;
}
body{
  padding-top: 32px;
}
#main {
  margin: 0;
  padding: 0;
}
.navbar{
  margin-bottom: 0;
}
.navbar-btn.btn.btn-xs {
  background-color: rgb(62, 68, 76);
  margin-right: 3px;
}
.jqx-widget{
  color: $text-color;
}
.jqx-widget-content{
  background-color: $body-bg;
  border-color:$body-bg;
}
.jqx-fill-state-normal{
  background-color: $navbar-default-bg;
  border-color: darken($navbar-default-bg, 6.5%);
}
.jqx-fill-state-pressed{
  background-color: $text-color;
  border-color: $link-color;
}

.jstree{
  //do I even need this?
  //webstorm doesn't have it...
  overflow: hidden;
}
.jstree-default-dark{
  background-color: $body-bg;
}
/*
http://vorotech.blogspot.com/2014/09/yeoman-bootstrap-sass-bootswatch-themes.html
+ // here you can override theme variables
+ // $textColor: #000;

+ // import lumen variables
+ @import "bootswatch/lumen/variables";

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

+ // Bootstrap body padding for fixed navbar
+ body { padding-top: 60px; }

+ // load lumen bootswatch style itself
+ @import "bootswatch/lumen/bootswatch";

// Any custom styles goes here

*/
